.App {
    background-color: lightskyblue;
    width: 320px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
}

/*.nav-panel a {*/
/*    margin-left: 30px;*/
/*    font-size: 22px;*/
/*}*/