.product-item {
    padding: 20px;
    text-align: center;
    border: 1px solid gray;
    margin: 20px;
    min-width: 600px;
    max-width: 600px;
}

.title-wrapper span {
    margin-left: 550px;
    font-size: 22px;
    color: gray;
}